@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

@import url(header.css);
@import url(footer.css);
@import url(clientes.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* es para que el padding y margin de elementos dentro de una caja sea de la misma 
    font-family: 'PT Sans Narrow', sans-serif;*/
    font-family: 'Fira Sans', sans-serif;
}

body{
    font-family: 'PT Sans Narrow', sans-serif;
}

#frase-emp h2{
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    font-weight: medium;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}


#banner{
    width: 100%;
    background: #3F3F3F;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-bottom: 2px solid #FFF;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 40%;
    float: left;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

#frase-emp{
    width: 60%;
    height: 50%;
    float: right;
    text-align: right;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}



#banner img{
    width: 100%;
    height: 100%;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}


#banner h2{
    font-size: 18px;
    text-align: center;
    padding-left: 1%;
    color: #A4A4A4;
    font-weight: 600;
    font-style: normal
}

#img-presentacion{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

#img-presentacion img{
    width: 100%;
    height: 100%;
    z-index: -50;
          
}

.colorear{
     background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('imagenes/img1.jpg');
}
    
.contacto h2{
    background: #333;
    color: papayawhip;
}

.contacto h2{
    padding: 16px;
    font-size: 15px;
}


#menu-prin div  {
    border-bottom: 1px solid #FFF;
}

#menu-prin div:hover{
    background: white;
}

#menu-prin div a{
    padding: 25px;
    font-weight: normal;
    color: #A4A4A4;
}

#capacitacion-lista{
    padding-left: 20px;
    font-size: 18px;
}

#consultoria-lista{
    padding-left: 20px;
    font-size: 18px;
}

.column img{
    height: 80px;
    
    
}

#clientes-lista{
    text-align: center;
    
}


@media(min-width:450px){
    div .column a{
    font-size: 15px;
    text-align: center;
    padding: 0px;
}
    #menu-prin div a{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    

}
 @media(min-width:650px){
    div .column a{
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
}
     #menu-prin div a{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
}


@media(min-width:768px){
    #banner h2{
        font-size:40px;
        text-align: center;
    }
    
    #banner{
        overflow: hidden;
    }
    
    #frase-emp h2{
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    color: white;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

    #menu-prin div  {
    text-align: center;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
    #menu-prin div:hover{
    background: #A4A4A4;
    }
    
    #consultoria-lista{
    padding-left: 50px;
    font-size: 26px;
}
    #capacitacion-lista{
    padding-left: 50px;
    font-size: 26px;
}
   
    #menu-prin div a{
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media(min-width:1024px){
    #banner h2{
        font-size: 35px;
        text-align: center;
        color: #A4A4A4;  
    }
    
    #banner{
        overflow: hidden;
}
    div .column a{
        text-align: center;
        color: #A4A4A4;
    }
    
    #menu-prin div:hover{
        background: #A4A4A4;
    }
}




