footer{
    border-top: 2px solid white;
}

footer a:hover{
    text-decoration: none;
    color: white;
}

footer .contenedor a{
    background: #333;
    display: block;
    color: white;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    padding: 15px;
    text-decoration: none;
}

footer .contenedor{
    background: #333;
    text-decoration: none;
}

@media(min-width:540px){
    footer .contenedor a{
        font-size: 20px;
        
    }
    
}

@media(min-width:768px){
    footer .contenedor a{
        font-size: 25px;
        
    }
    
}